
.bg-success .btn-link, .bg-danger .btn-link{
    color: white !important;
}

#content [data-elem-edit-question] {
    display: none;
}

#content.admin [data-elem-edit-question] {
    display: inline-block !important;
}