h3 i{
    font-size: 22px;
}
h3 i:hover{
    color: #007bff;
    cursor: pointer;
}

.courses button small{
    display: none;
}

.courses button:hover small, .courses button:focus small{
    display: block;
}